{% extends 'starter.html'%}

{% block content %}
<div class="row">
    <div class="container">
        {% if registered %}
        <p class="h3">Welcome to the Registration Portal!!!</p>
        {% else %}
        <p class="h1">Register Here!!</p>
        <p class="h3">Fill out this form</p>
        <form method = POST>
            {% csrf_token %}
            {{ userform.as_p }}
            {{ profileform.as_p }}
            <button class = "btn btn-success" type =submit>Submit</button>
        </form>
    </div>
</div>

(% endblock %)